services:
  - type: web
    name: testadmin-backend
    env: node
    buildCommand: npm install && npx prisma generate && npx nest build
    startCommand: npx prisma migrate deploy && node dist/main
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: JWT_SECRET
        generateValue: true
      - key: JWT_EXPIRES_IN
        value: 24h
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 3001
